@font-face {
  font-family: "JustBecause";
  src: url("Fonts/Just\ Because\ 2.otf") format("opentype");
}
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Nanum+Myeongjo&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: pink;

  background: -webkit-linear-gradient(
    to bottom right,
    #a7d4d7,
    #d2b6d5,
    #fabebb
  ); /* Chrome 10-25, Safari 5.1-6 */

  background: linear-gradient(
    to bottom right,
    #a7d4d7,
    #d2b6d5,
    #fabebb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mainbox {
  width: 1330px;
  height: 1300px; /* will be removed once page is complete */
  padding: 15px;
  margin: 20px;
  text-align: left;
  font-family: "baskerville";
  font-size: 17px;
}

hr {
  border: 1px solid purple;
}

nav {
  width: 100%;
  overflow: visible;
  float: right;
  display: flex;
  color: white;
  align-content: space-evenly;
  flex-wrap: nowrap;
  font-family: "Cinzel";
}
.logoBox {
  height: 100px;
  width: 150px;
  margin-right: 10px;
  display: flex;
}
.navBox {
  color: white;
  height: 40px;
  width: 200px;
  float: center;
  display: flex;
  font-size: 15pt;
  align-items: center;
  justify-content: center;
  padding: 40px 15px;
  position: relative;
  z-index: 1;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}

.navBox:link {
  text-decoration: none;
  color: white;
}

.navBox:visited {
  text-decoration: none;
  color: white;
}

.navBox:hover { 
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.736);
  color: rgb(249, 51, 187);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  width: 100%;
  position: relative;
  display: flex;
  height: 20px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: black;
}

.searchTerm::placeholder {
  color: #e94ec7;
}

.searchButton {
  width: 20px;
  height: 20px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: px;
}

.wrap {
  width: 10%;
  position: flex;
  justify-content: center;
  align-content: center;
  z-index: 2;
  margin-top: 30px;
  margin-left: 5px;
}

#searchIcon {
  height: 10px;
  width: 10px;
  display: flex;
  border: 1px solid #00b4cc;
}

.joBox1 {
  width: 600px;
  height: 600px; /* will be removed once page is complete */
  border-radius: 10px;
  margin: 20px;
  text-align: left;
  float: left;
}

.joRound {
  border-radius: 10px;
}

#joStyle {
  text-align: justify;
}

#joStyle2 {
  text-align: justify;
}

.joHead {
  background-color: rgb(237, 183, 218);
  font-weight: 700;
  text-align: center;
}

.joHeadings {
  font-weight: 700;
  text-align: center;
}

.joLeft {
  text-align: left;
}

.joCenter {
  text-align: center;
}

#LightPink {
  background-color: rgb(234, 215, 231);
}

.joBorder {
  border-color: pink;
  margin-bottom: 75px;
}

main a:link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

main a:hover {
  background-color: palevioletred;
  color: white;
  text-decoration: none;
  font-size: larger;
}
.navBox:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.736);
  color: rgb(249, 51, 187);
}

.joBox1 a:hover {
  background-color: palevioletred;
  color: white;
  text-decoration: none;
  font-size: larger;
}
main a:visited {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "JustBecause";
  font-size: 60pt;
  letter-spacing: 2pt;
}

h2 {
  font-family: "JustBecause";
  font-size: 35pt;
  letter-spacing: 1pt;
  padding-bottom: 5px;
}

.treasure-map {
  margin: 50px auto;
  width: 700px;
  height: 700px;
  background-image: url("Images/SeekPng.com_torn-paper-png_79602.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  color: black;
  font-family: "baskerville";
  font-size: larger;
}

.treasure-map table {
  position: relative;
  width: 60%;
  height: 50px;
  border-collapse: collapse;
  border: none;
  overflow: hidden;
}

.treasure-map th {
  background-color: rgba(165, 212, 252, 0.3);
  padding: 10px;
  text-align: center;
  color: black;
  font-size: larger;
}

.treasure-map td {
  padding: 10px;
  color: black;
  text-align: center;
}

.treasure-map tr:nth-child(odd) {
  background-color: rgba(175, 249, 224, 0.3);
  text-align: center;
}

.treasure-map tr:nth-child(even) {
  background-color: rgba(249, 175, 234, 0.3);
}

.treasure-map h1 {
  text-align: center;
}

.treasure-map p,
.treasure-map ul {
  margin: 30px;
}

.treasure-map li {
  margin-bottom: 10px;
}

#bold {
  font-weight: bold;
  text-align: center;
  font-size: large;
}
/* Footer CSS*/
footer {
  background-color: #10458e;
  height: 200px;
  width: 100%;
  display: flex;
  align-content: flex-end;
  
}

.footerlogo {
  height: 200px;
  position: absolute;
  left: 40%;
  }

.socialmedia {
  height: 30px;
  width: 30px;
  float: right;
  margin: 10px;
  margin-top: 140px;
}

.map {
  height: 90%;
  width: 20%;
  border-radius: 10px;
  margin: 10px;
  margin-right: auto;
}

#copyright {
  color: white;
  font-family: 'Cinzel';
  font-size: 12pt;
  margin-top: 140px;
}
/* Footer CSS*/
/* Top of Page Button CSS*/

.stt {
  position: fixed;

  right: 4rem;

  bottom: 4rem;

  width: 3rem;

  height: 3rem;

  border-radius: 50%;

  background: rgb(60, 209, 235)
    url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='currentColor' d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z'%3E%3C/path%3E%3C/svg%3E")
    center no-repeat;

  box-shadow: 0 0.25rem 0.5rem 0 gray;

  opacity: 0.7;
}

.stt:hover {
  opacity: 0.8;
}

.stt:focus {
  opacity: 0.9;
}

.stt:active {
  opacity: 1;
}

/* Top of Page Button CSS*/

